body {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.8em;
	background-color:#fff;
	color:#000;
}
img {
	border:0;
}
a {
	text-decoration:none;
}
a:hover {
	color:red;
}
code {
	font-family:courier;
	font-size:1.2em;
}

.rounded-corner {
	border-radius: .3em;
	-moz-border-radius: .3em;
}
/*.rounded-corner .wrapper1 {background:url(../../images/corners/ul.gif) no-repeat top left;}
.rounded-corner .wrapper2 {background:url(../../images/corners/ur.gif) no-repeat top right;}
.rounded-corner .wrapper3 {background:url(../../images/corners/ll.gif) no-repeat bottom left;}
.rounded-corner .wrapper4 {
	background:url(../../images/corners/lr.gif) no-repeat bottom right;
	padding:0 5px;
} 
*/
